 

 .name-lable{ 
		font-size:1rem !important;
		color: rgba(0, 0, 0, 0.625) !important;
    padding-left: 5px !important;
	}

 

.ctrlqFormContent {
  color: rgba(0, 0, 0, 0.87) !important;
  padding: 20px 35px !important;
}

 

.ctrlqAccent {
  background-color: #E2522E !important;
  height: 8px !important;
}
.ctrlqCenteredContent {
  margin: auto !important;
  width: 80% !important;
}
.ctrlqFormCard {
  background-color: #fff !important;
  margin-bottom: 48px !important;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important;
  word-wrap: break-word;
}

 

.ctrlqHeaderTitle {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-size: 34px !important;
  line-height: 135% !important;
  max-width: 100% !important;
  min-width: 0% !important;
  margin-bottom: 22px !important;
}

@media (max-width: 660px) {
  .ctrlqHeaderMast {
    height: 122px !important;
  }
  .ctrlqFormCard:first-of-type {
    margin-top: -50px !important;
  }

  .ctrlqCenteredContent {
    width: 90% !important;
  }
}

div.error {
  position: relative !important;
  top: -1rem !important;
  left: 0rem !important;
  font-size: 0.8rem !important;
  color: #ff4081 !important;
  -webkit-transform: translateY(0%) !important;
  -ms-transform: translateY(0%) !important;
  -o-transform: translateY(0%) !important;
  transform: translateY(0%) !important;
}


[type="checkbox"]:checked+label:before {
   
    border-right: 2px solid #E2522E !important;
    border-bottom: 2px solid #E2522E !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #E2522E !important;
    z-index: 0;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #E2522E !important;
    z-index: 0;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #E2522E;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #E2522E;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.waves-effect{
	float: right !important;
}

#login-Toast{
  position: absolute !important;
  right: 20px;
  width:30%;
}

.row{
  margin-top: 1rem !important;
}

.radio-input{
  padding:5rem !important
}

form input[type="radio"]{
   padding:5rem !important
}


.row h4{
padding-bottom: 10px !important;
}
