#chat-bot-body{
	  height: 100vh; 
   color: #5c5c5c;
  margin: 0px;
  background-color: white;
  overflow: hidden;
  background: #f6f6f6;
  display: flex;
}

.chat-bot-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.position {
  position: relative;
  cursor: pointer;
}
.icon {
  position: relative;
  width: 22px;
}
.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 6px;
  height: 20px;
  padding: 0px 5px 0 5px;
  border: 2px solid #f4fdff;
  border-radius: 500px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  z-index: 1;
  transition: transform 0.15s, background-color 0.5s;
  cursor: pointer;
}

.bot-chat{
  margin: auto !important;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem !important;
  border: 2px solid #f4fdff;
  background: #FFFFFF;
box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 25px;
height: 46px;
padding: 10px;
}

.ChatReplyImg-title{
  margin-left: 0.7rem;
}

.ChatReplyImg-title-one{
  font-size: 18px;
  font-weight: bolder;
}
.ChatReplyImg-title-two{
  font-size: 12px; 
}

.bot-chat-search {
  width: 100% !important;
  height: 16px;
}

.bot-chat-heads{
  width: 100%;
  /* height: 100%; */
  /* background-color: #ff3c35; */
}
.chat-heads-container{
  overflow-y: scroll;
  height: 80%;
}

.ChatReplyContainer{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  /* border-bottom: 1px solid #D9D9D9; */
   box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1); 
   padding: 5px;
   background-color: #fff;
}

.ChatReplyContainer-sub-one{
  width: 90%;
}
.ChatReplyContainer-sub-two{
  width: 10%;
}

.ChatReplyImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot-chat-heads-container{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  /* border: 1px solid #f4f4f4;
  border-top: 4px solid #f4f4f4; */
  border: 1px solid #b4b4b4;
  padding: 5px 5px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  /* box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1); */
}

.bot-chat-heads-container:hover{
   border: 1px solid #E2522E;
   background-color: #FCEEE9;
   cursor: pointer;
}

.bot-chat-heads-container-inner{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bot-chat-heads-container-title{
  /* font-size: 16px;
  font-weight:900; */
  color: #1F1F1F;
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
}
.bot-chat-heads-container-title-sub{
  font-size: small;
  color: #8F8F8F;
}

.input-message-chatbot{  
  margin-left: 1rem !important;
    flex-grow: 1 !important;
    border: none !important;
 
}

.bot-chat-heads-time-one-color{
  width: 5px;
  height: 5px;
  background-color: #E2522E;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  padding: 7px;
}

.bot-chat-heads-container-title-time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small; 
}
.bot-chat-heads-time-one{
  font-weight: bolder;
}
.bot-chat-heads-time-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small; 
}

.bot-chat-heads-container-inner-first{
  margin-right: 10px; 
}

.bot-chat-heads-image{
   background-size:cover;
    image-rendering:auto;
  border-radius: 50px;
  width: 35px;
  height: 35px;  
}


.position:hover .badge {
  background-color: #000;
  transform: scale(1.08);
}
.position:active .badge {
  background-color: #555;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.75);
}

/* .fa-solid .fa-circle-plus{
  color: #000 !important;
  background: #555;
  width: 20px;
  height: 20px;
} */
/* .red {
  background: #ff3c35;
} */
.badge-red {
  background: #ff3c35;
}

.chat-bot-span{
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.chat-bot-icon-name{
  font-weight:bolder;
  font-size:x-large;
}

.chat-bot-body-contain-one{
  background: #fff;
  width: 30%;
  border-right: 2px solid #D9D9D9;
}
.chat-bot-body-contain-two{
  width: 70%;
}
.chat-bot-body-items{
  display: flex;
  flex-direction: column;
  height: 100%;
}


.AuraLoanBook-button-outline2 {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 2px;
}

#btn-secondary-chat-bot{
	margin: auto !important;
	position: absolute !important; 
	top: 4px !important;
	left: 27rem;
	z-index: 999 !important;
	/* right: 27rem !important;  */
}

.title {
  margin: auto;
  font-size: x-large;
  font-family: Raleway, sans-serif;
  color: #fff;
}
@media (min-width: 50px) {
  .main-card {
    width: 96%;
    max-width: 1000px;
    height: calc(100% - 32px) !important;
    border-radius: 2px !important;
    max-height: 900px;
    margin: 16px !important;
  }
}

.collapsed {
  width: 48px !important;
  height: 48px !important;
  border-radius: 24px !important;
  margin: 16px !important;
}

.main-card {
  background: white;
 color: #5c5c5c;
   width: 700px !;
  width: 100%;
  height: 100%;
  margin: 0px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.5s;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#chatbot_toggle {
  position: absolute;
  right: 0;
  border: none;
  height: 50px;
  width: 48px;
  background: #E2522E;;
  padding: 14px;
  color: #5c5c5c;
  /* border-bottom: 1px solid #D9D9D9; */
}
#chatbot_toggle:hover {
  background: #E2522E;;
}
#chatbot{
	width: 80% ;
}

.line {
  height: 1px;
  background-color: #fff;
  width: 100%;
  opacity: 0.2;
}
.main-title {
  background-color:  #E2522E;;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  height: 60px;
  border-bottom: 1px solid #D9D9D9;
}
.main-title > div { 
  padding: 1rem;
}

.chat-area{ 
  width: 100%;
  height: 90% !important;
  display: flex !important; 
  flex-direction: column-reverse !important;
  overflow-y: scroll;
}
.chat-message-received-wrap-item{
  flex-wrap: wrap !important;
  /* margin:  2rem; */
}

/* ///// */
  .main-title svg {
  height: 24px;
  margin: auto;
}  
 .main-title > span {
  margin: auto auto auto 8px;
}  
  /* .chat-area {
  flex-grow: 1; 
  overflow: auto;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #E2522E; */
  /* height: 100%; */
/* } */
.input-message {
  padding: 8px 48px 8px 16px !important;
  flex-grow: 1 !important;
  border: none !important;
}
.input-message:focus {
  outline: none;
}
.input-div {
  height: 48px;
  display: flex;
}

.input-send {
  background: transparent;
  width: 48px;
  height: 48px;
  right: 0%;
  border: none;
  cursor: pointer;
}
.input-send:hover {
  background: lavender;
}
.input-send svg {
  fill: #ce4f30;
  margin: 11px 8px;
}
/* .chat-message-div {
  display: flex;
} */

/* .chat-message-sent {
  background-color: white;
  margin: 8px 16px 8px 64px;
  padding: 8px 16px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  color: black;
  border-radius: 8px 8px 2px 8px;
  background-color: #FCEEE9;
} */

.chat-message-send {  
  flex-wrap: wrap;
  background-color: white;
  align-items: flex-end !important; 
  width: 90%;
  padding: 8px 16px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  color: black;
  border-radius: 8px 8px 1px 8px;
  background-color: #4ad29527;
  margin-bottom: 1rem;
} 

.chat-message-received {
  flex-wrap: wrap;
  background-color: white;
  /* margin: 8px 64px 8px 16px; */
   width: 90%;
  padding: 8px 16px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  color: black;
  border-radius: 8px 8px 8px 1px;
  background-color: #FCEEE9;
  margin-bottom: 1rem;
} 


.chat-message-send-flex-right{
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
    width: 100%;  
    padding: 1rem;
}
.chat-message-send-flex-left{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;  
     width: 100%;
     padding: 1rem;
}


.clip-icon{
 flex-wrap: wrap;
}

.ChatReplyInputcontaner{
  display: flex;
  justify-content: space-between;
  align-items: center; 
position: relative;
/* bottom: -690px; */
box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
background-color: #fff;
padding: 10px;
}
.message-one{
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;

}

.clip-icon{
  margin-right: 1rem;
}
.message-two{
  margin-right: 1rem;
  cursor: pointer;
}
.message-three{
  margin-right: 1rem;
  cursor: pointer;
  background: #E2522E;
  color: #fff;
  padding: 1px 8px;
  border-radius: 50px;
  border: none !important;
box-shadow: -2px -2px 20px rgba(20, 101, 149, 0.2), 2px 2px 20px rgba(20, 101, 149, 0.2);
}
.message-one :hover{
color: #E2522E; 
}
.message-two :hover{
 color: #E2522E;  
}
.message-three :hover{
 color: #fff;  
box-shadow: -2px -2px 20px rgba(20, 101, 149, 0.2), 2px 2px 20px rgba(20, 101, 149, 0.2);
}

.refresh-btn{
  border: none !important;   
}
.refresh-btn:hover{
   color: #E2522E;    
}

/* Group 91 */

/* position: absolute;
width: 22px;
height: 22px;
left: 1296px;
top: 1362px; */



/* Ellipse 10 */

/* position: absolute;
width: 22px;
height: 22px;
left: 1296px;
top: 1362px; */
/* 
background: #E2522E;
box-shadow: -2px -2px 20px rgba(20, 101, 149, 0.2), 2px 2px 20px rgba(20, 101, 149, 0.2); */


/* Vector */

/* position: absolute;
left: 96.87%;
right: 2.3%;
top: 96.61%;
bottom: 2.54%;

background: #FFFFFF; */






/* ////// */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* James Austin */
/* 
position: absolute;
width: 109px;
height: 20px;
left: 71px;
top: 13px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

/* color: #1F1F1F; */  

#bot-chat-chatboxicon{ 
  width: 80%;
  height: 80%;
  margin: auto;
}


  