#open-sidenavbar {
  grid-area: sidenav;
  padding: 0 18px;
  padding-top: 23px;
  background: #403D3B;
  transition: padding .3s linear;
}

#collapse-sidenavbar {
  grid-area: sidenav;
  padding: 0 10px;
  padding-top: 23px;
  background: #403D3B;
  transition: padding .3s linear;
}

#collapse-sidenavbar .nav-name {
  display: none;
}

.nav-menu a {
  position: relative;
  color: var(--white) !important;
  text-decoration: none;
  padding: 12px 15px;
  margin: 5px 0;   
  border-radius: 3px; 
  font-weight: 500;
}
.nav-menu a:hover,
.nav-menu a.active-here {
  background-color: var(--accent-orange);
}
.nav-menu span {
  padding-left: 22px;    
}


/* --- Side Nav Bubble --- */
#collapse-sidenavbar .sidenav-bubble {
  background-color: var(--white);
  position: absolute;
  top: 8px;
  left: 55px;
  border-radius: 3px;
  z-index: 999;
  text-transform: capitalize;
  box-sizing: border-box;
  animation: sidenav-bubble .3s;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 
              0 0 4px rgba(0, 0, 0, 0.1),
              0 0 16px rgba(0, 0, 0, 0.1);
}

@keyframes sidenav-bubble {
  from {
    opacity: 0.89;
    left: 60px;
  }
  to {
    opacity: 1;
    left: 55px;
  }
}

.sidenav-bubble p {
  position: relative;
  white-space: nowrap;
  margin: 0;
  padding: 5px 12px;
  font-weight: bold;
}
.sidenav-bubble p:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 4px solid var(--white);
  border-bottom: 5px solid transparent;
}

@media only screen and(min-width: 1200px){
  #open-sidenavbar , #collapse-sidenavbar {
    display: none !important;
  } 
}

@media (max-width: 1200px) {
  #open-sidenavbar , #collapse-sidenavbar {
    display: none;
  }
}
