  
table {
  background-color: var(--white);
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border) !important;
     font-size: 12px !important;
}
 
 
table th,
table td {
  text-align: left;
  padding: .75rem 1rem;
  font-size: 12px;
}
table th {
  background-color: var(--white);
  color:  var(--text);
  font-weight: 500;
  white-space: nowrap !important;
  font-weight: bold;
}



#notificationbtn {
display: flex;
justify-content: flex-end;
gap: 20px;

 
}

 #notispan-container{
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--text);
  gap: 5px;
 }

/* #notibtn, #notibtn:hover {
    background: none!important;
    color: #000; 
     width: 100px;
      height: 20px;
} */

#notibtn {
    border: none!important;
    font-weight: 600;
    outline: none!important;
}

 
 
 