.container {
  text-align: center;
  padding: 15px;
  margin: 10px auto;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container p {
  padding-top: 10px;
  color: #666;
}

.upload-toast{
    width: 100%;
}

.logic-modal .toast-body.upload-toast {
  color: var(--accent-orange);
  display: grid;
  grid-template-columns: .03fr 1fr .03fr;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid var(--accent-orange);
}
 
.logic-modal .toast-body .upload-toast  p {
  color: var(--accent-orange);
  font-weight: bold;
  margin: 0;
  width: 100%;
} 


#filter-options-container{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
}